.h{
    position: static
}
.h-welcome{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:linear-gradient(90deg,rgba(20am-btn-primary8,20,166,0.64),rgba(255,255,100,0.5))
}
.h-love{
    display: inline-block;
    background: #dd514c;
    padding: .4em 1em;
    color: #fefefe;
    margin:20px auto;
    margin:6vh auto;
    border-radius:4px;
}
.btns a{
    padding: .3em .5em;
    color: #fefefe;
    border-radius: 8px;
    margin: 0 5px;
}
.btns a:nth-child(1){
    background: rgba(14,144,210,.8);
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}
.btns a:nth-child(2){
    background: rgba(59,180,242,.8);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.btns a:nth-child(3){
    background: rgba(94,185,94,.8);
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.btns a:nth-child(4){
    background: rgba(243,123,29,.8);
    -webkit-animation-delay:1.5s;
    animation-delay: 1.5s;
}
.btns a:nth-child(5){
    background: rgba(221,81,76,.8);
    -webkit-animation-delay: 1.8s;
    animation-delay:1.8s;
}

